/* styles.css */

body {
    background-color: aliceblue;
    margin: 0;
}
.img-main{
    width: 100%;
}
.img-main img{
    width: 100%;
}
nav {
    position: absolute;
    top: 5%;
    left: 25%;
    z-index: 999;
}
nav ul{
    list-style: none;
    margin: 0%;
}
nav li{
    display: inline-block;
    margin-right: 25px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 27px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;

}